<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="myAnimal" class="peaksoft.Dog">
        <property name="breed" value="${dog.breed}"/>
        <property name="color" value="${dog.color}"/>
        <property name="age" value="${dog.age}"/>
    </bean>
    <bean id="myAnimal1" class="peaksoft.Horse">
        <property name="breed" value="${dog1.breed}"/>
        <property name="age" value="${dog1.age}"/>
        <property name="color" value="${dog1.color}"/>
    </bean>

    <bean id="myPerson1" class="peaksoft.Person">
        <property name="name" value="${person1.name}"/>
        <property name="age" value="${person1.age}"/>
        <property name="animal" ref="myAnimal1"/>
    </bean>
    <bean id="myPerson" class="peaksoft.Person">
        <property name="name" value="${person.name}"/>
        <property name="age" value="${person.age}"/>
        <property name="animal" ref="myAnimal"/>
    </bean>
</beans>